{% extends 'webapp/base.html' %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-3">Please sign in</h1>
    <br>
    <form action="" method="post">
        <input size="50" type="text" class="form-control" placeholder="Username" name="username" value="{{request.form.username}}"></br></br>
        <input type="password" class="form-control" placeholder="Password" name="password" value="{{request.form.password}}"></br></br>
        <input class="btn btn-primary" type="submit" value="Sign In"></br></br>
    </form>
    <p>Dont't have an account? <a class="bottom" href="{{ url_for('register') }}"> Sign Up here</a></p>
    {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}
    {% endif %}
</div>
{% endblock %}