{% extends 'webapp/base.html' %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-3">Please sign up</h1>
    <br>
    <form action="" method="post">
        <input type="text" class="form-control" placeholder="Username" name="username" value="{{request.form.username}}"></br></br>
        <input type="password" class="form-control" placeholder="Password" name="password" value="{{request.form.password}}"></br></br>
        <input type="email" class="form-control" placeholder="Email" name="email" value="{{request.form.email}}"></br></br>
        <input class="btn btn-primary" type="submit" value="Sign Up"></br></br>
    </form>
    <p class="bottom">Already have an account?  <a class="bottom" href="{{ url_for('login') }}"> Sign In here</a></p>
    {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}
    {% endif %}
</div>
{% endblock %}